<a href="https://colab.research.google.com/github/LeaDiGiovanni/LeaPython/blob/main/PracticeExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise: GroupBy
Countries of the world

### Introduction:

Thanks to: https://github.com/HiraMariam for the dataset and materials.

Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://github.com/HiraMariam/countries-data-for-pandas/blob/master/countries.csv), and assign it to a variable called countries.

In [2]:
# https://github.com/HiraMariam/countries-data-for-pandas/blob/master/countries.csv

countries = pd.read_csv('https://raw.githubusercontent.com/HiraMariam/countries-data-for-pandas/master/countries.csv')
countries.head(10)

,Country,Region,Population,Area (sq. mi.),Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Crops (%),Climate,Birthrate,Deathrate,Agriculture
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"163,07",700.0,"36,0","0,22",1,"46,6","20,34","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"21,52",4500.0,"86,5","4,42",3,"15,11","5,22","0,232"
2,Algeria,NORTHERN AFRICA,32930091,2381740,31,6000.0,"70,0","0,25",1,"17,14","4,61","0,101"
3,American Samoa,OCEANIA,57794,199,"9,27",8000.0,"97,0",15,2,"22,46","3,27",NaN
4,Andorra,WESTERN EUROPE,71201,468,"4,05",19000.0,"100,0",0,3,"8,71","6,25",NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"191,19",1900.0,"42,0","0,24",NaN,"45,11","24,2","0,096"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"21,03",8600.0,"95,0",0,2,"14,17","5,34","0,04"
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"19,46",11000.0,"89,0","4,55",2,"16,93","5,37","0,038"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"15,18",11200.0,"97,1","0,48",3,"16,73","7,55","0,095"
9,Armenia,C.W. OF IND. STATES,2976372,29800,"23,28",3500.0,"98,6","2,3",4,"12,07","8,23","0,239"

### What is the number of observations in the dataset?

In [5]:
print(len(countries))

227

### Show me the number of columns, names of all columns, and how the dataset is indexed.

In [13]:
print(countries.shape[1])
print(countries.columns)
print(countries.index)

12
Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Infant mortality (per 1000 births)', 'GDP ($ per capita)',
       'Literacy (%)', 'Crops (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture'],
      dtype='object')
RangeIndex(start=0, stop=227, step=1)

#### How many continents are there?
#### how many unique regions are there? What are their names?
#### What is the infant mortality by region?
#### Which region has the highest GDP?
#### What is the most populated region in total and on average?
#### Average population by region?
#### What is the average GDP per capita for countries with a literacy rate above 90%
#### What is the average infant mortality for countries with a literacy rate below 60%
#### What is the area covered by region?
#### What is the birth rate for countries above the median GDP per capita and a literacy above 85%?
#### What is the total land mass covered by area by the 5 most populated countries?
#### What is the least crop yielding region in the world?

In [21]:
print(countries['Region'].nunique())
print(countries['Region'].unique())

11
['ASIA (EX. NEAR EAST)         ' 'EASTERN EUROPE                     '
 'NORTHERN AFRICA                    '
 'OCEANIA                            '
 'WESTERN EUROPE                     '
 'SUB-SAHARAN AFRICA                 ' 'LATIN AMER. & CARIB    '
 'C.W. OF IND. STATES ' 'NEAR EAST                          '
 'NORTHERN AMERICA                   '
 'BALTICS                            ']

In [33]:
print(countries.groupby('Region')['Infant mortality (per 1000 births)'].sum())

Region
ASIA (EX. NEAR EAST)                   163,0762,6100,4412,6167,2471,4824,1847,412,975...
BALTICS                                                                     7,879,556,89
C.W. OF IND. STATES                    23,2881,7413,3718,5929,2135,6440,4215,39110,76...
EASTERN EUROPE                         21,5221,0520,556,843,938,5710,098,5126,4312,89...
LATIN AMER. & CARIB                    21,0319,4615,185,8925,2112,525,6953,1129,6118,...
NEAR EAST                              17,277,1822,9350,257,0317,359,9524,5219,5118,6...
NORTHERN AFRICA                                                    3132,5924,641,6224,77
NORTHERN AMERICA                                                    8,534,7515,827,546,5
OCEANIA                                9,274,6912,628,446,9448,5229,4530,219,957,725,...
SUB-SAHARAN AFRICA                     191,198554,5897,5769,2968,2647,779193,8274,939...
WESTERN EUROPE                         4,054,664,684,566,243,574,264,165,135,534,713,...
Name: Infant mortality (per 1000 births), dtype: object

In [35]:
print(countries.groupby('Region')['GDP ($ per capita)'].sum().idxmax())

WESTERN EUROPE

In [36]:
print(countries.groupby('Region')['Population'].sum().idxmax())
print(countries.groupby('Region')['Population'].mean().idxmax())

ASIA (EX. NEAR EAST)
ASIA (EX. NEAR EAST)

In [38]:
print(countries.groupby('Region')['Population'].mean())

Region
ASIA (EX. NEAR EAST)                   1.317137e+08
BALTICS                                2.394991e+06
C.W. OF IND. STATES                    2.334013e+07
EASTERN EUROPE                         9.992893e+06
LATIN AMER. & CARIB                    1.248499e+07
NEAR EAST                              1.219177e+07
NORTHERN AFRICA                        2.690119e+07
NORTHERN AMERICA                       6.633446e+07
OCEANIA                                1.577698e+06
SUB-SAHARAN AFRICA                     1.469484e+07
WESTERN EUROPE                         1.415500e+07
Name: Population, dtype: float64

In [40]:
print(countries[countries['Literacy (%)'] > 90]['GDP ($ per capita)'].mean())

TypeError: '>' not supported between instances of 'str' and 'int'